body {
  background-color: white;
}

canvas {
}
.quitarPadding [class*="col-"]{
  padding: 0;
}

.juego {
  background-color: black;
}

.imagen1 {
  width: 40%;
  height: 50%;
}

.imagen2 {
  width: 55%;
  height: 50%;
}

#pantallaJuego {

}

#opciones {
  background-color:black;

}

#datosPj {
  background-color: black;
}

#creditos {
  background-color: black;
}
