body {
  background-color: rgb(0, 0, 0);
}

canvas {
  margin-top: 2%;
  margin-left: 4%;

}

.card{
  width: 15%;
  margin-left: 23%;
  margin-top: 15%;
}
#guerrero{
  float: left;

}

#mago{
  float: left;
}

#seleccionDePersonaje{
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  margin-left: 9%;
  position: fixed;
  z-index: 1
}

#seleccionDePersonaje h1{
  font-size: 5em;
  text-align: center;
  color: white;
}

#pantallaJuego{

}
#mapaCompleto {
  width: 20%;
  height: 20%;
  background-color: white;
  position: absolute;
  margin-top: 2%;
  margin-left: 2%;
}
